<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		{% include analytics.html %}
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
			<li><a href="/favorites">Favorites</a></li>
        		<li><a href="/scattered.dimes">Scattered Dimes</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="mailto:chhetrir@janelia.hhmi.org">email</a></li>
			<li><a href="https://scholar.google.com/citations?user=HSDpEAkAAAAJ&hl=en">Google Scholar</a></li>
			<li><a href="https://orcid.org/0000-0001-6039-4505">ORCID</a></li>
        		<li><a href="https://github.com/raghavchhetri">GitHub/raghavchhetri</a></li>
			<li><a href="https://twitter.com/RChhill">Twitter@iRaghavChhetri</a></li>
			<li><a href="https://twitter.com/intent/tweet?screen_name=iRaghavChhetri" class="twitter-mention-button" data-show-count="false">Tweet to @iRaghavChhetri</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
			<!-- <li><a href="https://twitter.com/iRaghavChhetri" class="twitter-follow-button" data-show-count="false">Follow @iRaghavChhetri</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>  --> 
			</ul>
		</footer>
	</body>
</html>
